= link_to student, class: "btn-ghost btn-ghost-primary me-1", title: "Show" do
  %span.material-symbols{style: "font-size: 18px"} visibility
- if is_admin
  = link_to edit_student_path(student), class: "btn-ghost btn-ghost-secondary me-1", title: "Edit" do
    %span.material-symbols{style: "font-size: 18px"} edit
  = link_to student, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn-ghost btn-ghost-danger", title: "Delete" do
    %span.material-symbols{style: "font-size: 18px"} delete
