.d-flex.justify-content-between.align-items-center.mb-3
  %h1 Edit Student
  = link_to "Back", student_path(@student), class: "btn btn-outline-primary"

.card
  .card-body
    = render "form", student: @student
