.d-flex.justify-content-between.align-items-center.mb-3
  %h1 Edit Course
  = link_to "Back", course_path(@course), class: "btn btn-outline-primary"

.card
  .card-body
    = render "form", course: @course
