.d-flex.justify-content-between.align-items-center.mb-3
  %h1 Edit Course Offering
  = link_to "Back", course_offering_path(@course_offering), class: "btn btn-outline-primary"

.card
  .card-body
    = render "form", course_offering: @course_offering, semester: @semester
