// Bootstrap variable overrides (must come before Bootstrap import)
$light:     #6fcfff;
$dark:      #0c0e13;
$primary:   #a4c6d4;
$secondary: #62336b;
$info:      #b15b95;
$success:   #3faa65;
$warning:   #e9cb3d;
$danger:    #f22330;

// Import Bootstrap
@import "scss/bootstrap";

// Material Symbols icons
@import "material-symbols";
